#jobs
  .job
    %h2= @job.title
    %p= @job.description
    %p= @job.company
    %button.btn.btn-default= link_to "Apply for job", @job.url

#links
  = link_to "Back", root_path, class: "btn btn-small btn-default"
  = link_to "Edit", edit_job_path(@job), class: "btn btn-small btn-default"
  = link_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-small btn-default"